optimum[openvino]==1.23.3
openvino-genai==2024.6.0.0
numpy
pydantic
uvicorn
fastapi
SpeechRecognition
iPython
pyaudio
ipywidgets
sounddevice
sentence_transformers==3.3.1
scikit-learn
pytest
httpx
coverage
transformers==4.36.2